@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply md:overflow-hidden bg-black/5;
}

body::-webkit-scrollbar,
.container::-webkit-scrollbar,
.cart_list::-webkit-scrollbar,
.cart_container::-webkit-scrollbar {
  @apply w-[5px];
}

body::-webkit-scrollbar-track,
.container::-webkit-scrollbar-track,
.cart_list::-webkit-scrollbar-track,
.cart_container::-webkit-scrollbar-track {
  @apply bg-black/0;
}

body::-webkit-scrollbar-thumb,
.container::-webkit-scrollbar-thumb {
  @apply bg-black/30 rounded-full;
}

.cart_container::-webkit-scrollbar-thumb,
.cart_list::-webkit-scrollbar-thumb {
  @apply bg-green-600/80 rounded-full;
}

/* Navbar */
nav.navbar {
  @apply hidden lg:block bg-white h-screen rounded-r-md relative shadow-md;
}

nav.active {
  @apply w-[170px];

  & .nav_btn_image {
    @apply rotate-180;
  }

  & div.profile {
    @apply w-[150px] h-[55px];
  }
  & h2.tit_company {
    @apply w-[80px] relative opacity-100;
  }

  & a.menu {
    @apply w-[150px];
  }
  & h2.tit_menu {
    @apply w-[100px] relative;
  }

  & .btm_menu {
    @apply w-[150px];
  }
  & h2.btm_title {
    @apply w-[60px] relative;
  }
}

nav.not_active {
  @apply w-[70px];

  & .nav_btn_image {
    @apply rotate-0;
  }

  & div.profile {
    @apply w-[55px] h-[55px] relative;
  }
  & h2.tit_company {
    @apply w-[0px] absolute -z-10 overflow-hidden opacity-0;
  }

  & a.menu {
    @apply w-[40px] relative;
  }
  & h2.tit_menu {
    @apply w-[0px] absolute -z-10 overflow-hidden;
  }

  & .btm_menu {
    @apply w-[45px] relative;
  }
  & h2.btm_title {
    @apply w-[0px] absolute -z-10 overflow-hidden;
  }
}

.navbar .nav_ct .nav_opt a:hover,
a:active {
  @apply bg-red-700;
}

/* Mobile */
.navbar_mobile {
  @apply flex lg:hidden justify-center items-center h-[60px] fixed bottom-0 left-0 z-10 w-full bg-white;
}

.navbar_mobile > .nav_menu {
  @apply container flex justify-evenly items-center gap-2 h-full;
}

.navbar_mobile > .nav_menu a {
  @apply flex justify-center items-center relative w-max h-full p-2;
}

.navbar_mobile > .nav_menu a img {
  @apply w-[30px];
}

.navbar_mobile > .nav_menu a span {
  @apply block h-1 rounded-full bg-black/50 absolute bottom-1 ease-in duration-200;
}

.navbar_mobile .nav_menu a .active {
  @apply w-[20%];
}

.navbar_mobile .nav_menu a .non_active {
  @apply w-[0%];
}

.navbar_mobile > .nav_menu a:hover span {
  @apply w-[80%];
}
/* End Navbar */

div.product_card {
  @apply w-[48.5%] lg:w-[24%] 2xl:w-[19%] bg-white rounded-md overflow-hidden relative shadow-md;

  & .con_image {
    @apply flex justify-center items-center w-full h-[200px] overflow-hidden;
  }
  & .images {
    @apply object-cover w-full ease-in duration-200;
  }
  & .images:hover {
    @apply scale-110;
  }

  & .card_text {
    @apply p-2 flex flex-col gap-1;
  }
  & .card_text a {
    @apply text-base font-medium duration-100 ease-in;
  }
  & .card_text a:hover {
    @apply text-sky-800;
  }
  & .card_text a div {
    @apply flex justify-start items-center gap-1;
  }
  & .card_text div span {
    @apply font-medium;
  }
  & .card_text div span:nth-child(1) {
    @apply text-green-700;
  }
  & .card_text div span:nth-child(2) {
    @apply text-sm text-black/60;
  }

  & button {
    @apply flex justify-center items-center absolute top-2 right-2 rounded-md bg-white/20 p-1 duration-100 ease-in z-0;
  }
  & button:hover {
    @apply bg-white/50;
  }
  & button img {
    @apply w-[30px];
  }
}

div.paginate_text {
  @apply flex justify-center items-center gap-1 font-semibold text-black/70 text-sm;
}

div.paginate_text > span {
  @apply block;
}

div.paginate_button {
  @apply flex justify-center items-center gap-2;
}

div.paginate_button > button {
  @apply flex justify-center items-center py-2 px-3 rounded-md  w-max  font-medium ease-in duration-100;
}

div.paginate_button > button.back {
  @apply bg-black/20 hover:bg-black/30 text-black;
}

div.paginate_button > button.next {
  @apply bg-black hover:bg-black/80 text-white;
}

dialog.dialog_loading {
  @apply bg-transparent;
}

img.loading {
  @apply bg-transparent rounded-full h-[40px] w-[40px] relative z-20 flex justify-center items-center animate-spin;
}

details.data_pelangan > summary {
  list-style-type: none;
}

details.data_pelangan[open] > summary img {
  @apply rotate-180;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart {
  @apply w-[0px];
}

.cartOpen {
  @apply w-full md:w-[800px];
}
