@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white font-Roboto scroll-smooth;
}

/* ScrollBar */
.scrollBar::-webkit-scrollbar {
  @apply w-[5px];
}

.scrollBarBg::-webkit-scrollbar-track {
  @apply bg-black/0;
}

.scrollBarColors::-webkit-scrollbar-thumb {
  @apply bg-black/20 rounded-full;
}
/* End ScrollBar */

/* Style button */
.buttonInfo {
  @apply bg-info hover:bg-transparent active:bg-transparent border-2 border-transparent hover:border-info active:border-info text-white hover:text-info active:text-info rounded-md ease-in-out duration-200 transition-all outline-primary;

  & img:nth-child(1) {
    @apply block;
  }

  & img:nth-child(2) {
    @apply hidden;
  }
}

.buttonSuccess {
  @apply bg-success hover:bg-transparent active:bg-transparent border-2 border-transparent hover:border-success active:border-success text-white hover:text-success active:text-success rounded-md ease-in-out duration-200 transition-all outline-primary;

  & img:nth-child(1) {
    @apply block;
  }

  & img:nth-child(2) {
    @apply hidden;
  }
}

.buttonWarning {
  @apply bg-warning hover:bg-transparent active:bg-transparent border-2 border-transparent hover:border-warning active:border-warning text-white hover:text-warning active:text-warning rounded-md ease-in-out duration-200 transition-all outline-primary;

  & img:nth-child(1) {
    @apply block;
  }

  & img:nth-child(2) {
    @apply hidden;
  }
}

.buttonDanger {
  @apply bg-danger hover:bg-transparent active:bg-transparent border-2 border-transparent hover:border-danger active:border-danger text-white hover:text-danger active:text-danger rounded-md ease-in-out duration-200 transition-all outline-primary;

  & img:nth-child(1) {
    @apply block;
  }

  & img:nth-child(2) {
    @apply hidden;
  }
}

.buttonInfo:hover,
.buttonSuccess:hover,
.buttonWarning:hover,
.buttonDanger:hover {
  & img:nth-child(1) {
    @apply hidden;
  }

  & img:nth-child(2) {
    @apply block;
  }
}
/* End style button */

.effectTrasition {
  @apply transition-all duration-200 ease-in-out;
}

/* Navbar */
nav.navbar {
  @apply hidden bg-primary h-screen fixed top-0 right-0 lg:left-0 z-10 drop-shadow-xl;

  & a.menu {
    @apply flex justify-start items-center gap-2 rounded-md border-2 border-transparent relative bg-primary;
  }

  & a.not_active:hover {
    @apply border-secondary bg-primary;
  }

  & h2.tit_menu {
    @apply text-sm font-medium overflow-hidden text-secondary;
  }

  & span.checkActive {
    @apply block absolute h-[50%] rounded-full bg-secondary;
  }
}

nav.active {
  @apply block w-[100%] md:w-[50%] lg:w-[180px];

  & .btn_nav_label > img {
    @apply rotate-180;
  }

  & div.profile {
    @apply w-full delay-300 overflow-hidden;
  }
  & h2.tit_company {
    @apply relative lg:absolute lg:left-[50px] w-[50%] lg:w-[100px] opacity-100 delay-100;
  }

  & div.head_menu {
    @apply block w-full opacity-100 delay-300;

    & span:nth-child(1) {
      @apply text-start pl-1 w-full;
    }
  }

  & a.menu {
    @apply w-full lg:w-[150px] delay-75 p-2;
  }
  & h2.tit_menu {
    @apply relative opacity-100;
  }
  & span.checkActive {
    @apply right-2 w-[4px] h-[60%];
  }

  & .btm_menu {
    @apply w-full lg:w-[150px];
  }
  & .btm_title {
    @apply w-[100px] relative left-0 opacity-100;
  }
}

nav.not_active {
  @apply block w-[0%] lg:w-[80px];

  & .btn_nav_label > img {
    @apply rotate-0;
  }

  & div.profile {
    @apply w-max relative left-1;
  }
  & h2.tit_company {
    @apply absolute left-[50px] -z-10 overflow-hidden opacity-0;
  }

  & div.head_menu {
    @apply block h-1 w-full opacity-0;

    & span:nth-child(1) {
      @apply text-center w-full;
    }
  }

  & a.menu {
    @apply w-[50px] relative p-2;
  }
  & h2.tit_menu {
    @apply w-[0px] absolute left-[50px] -z-10 overflow-hidden opacity-0;
  }
  & span.checkActive {
    @apply -right-[2px] w-[2px];
  }

  & .btm_menu {
    @apply w-[45px] relative;
  }
  & .btm_title {
    @apply w-[0px] absolute left-[50px] -z-10 overflow-hidden opacity-0;
  }
}

.notScroll {
  @apply overflow-y-hidden;
}

#main {
  @apply lg:ml-[90px] ease-in-out duration-300 pt-2 px-2 pb-[60px] lg:pt-2 lg:px-2 lg:pb-2;
}

#main.active {
  @apply lg:ml-[190px];
}

.navbar .nav_ct .nav_opt a:hover,
a:active {
  @apply bg-red-700;
}
/* End Navbar */

/* Paginate */
div.paginate_text {
  @apply flex justify-center items-center gap-1 font-semibold text-primary/80 text-sm;

  & span {
    @apply block;
  }
}

div.paginate_button {
  @apply flex justify-center items-center gap-2;

  & button {
    @apply flex justify-center items-center py-2 px-3 rounded-md  w-max  font-medium ease-in duration-100;
  }

  & button.back {
    @apply bg-primary border-2 border-transparent hover:border-primary hover:bg-white text-white hover:text-primary;
  }

  & button.number {
    @apply bg-white border-2 border-primary/20 hover:border-primary/50 hover:bg-primary text-primary hover:text-white rounded-none;
  }

  & button.next {
    @apply bg-primary border-2 border-transparent hover:border-primary hover:bg-white text-white hover:text-primary;
  }
}

div.table_loading {
  @apply min-h-[65vh] flex justify-center items-center flex-col gap-2;

  & img {
    @apply w-[40px] h-[40px] block animate-spin;
  }

  & h2 {
    @apply text-primary font-bold text-lg;
  }

  & p {
    @apply text-sm font-medium text-primary/50;
  }
}

tr.loading {
  & td {
    @apply p-0;

    & div {
      @apply h-10 block w-auto bg-black/10 animate-pulse;
    }
  }
}
/* End Paginate */

/* Details Accordion */
details.accordion > summary {
  list-style-type: none;
}

details.accordion[open] > summary img {
  @apply -rotate-90;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* End Details Accordion */

/* Message Confimation */
dialog.message_confirmation {
  @apply fixed top-0 md:top-0 z-20 p-2 rounded-none md:rounded-md select-none w-screen h-screen bg-primary/20;

  & div.parent {
    @apply w-full h-full flex justify-center items-center;

    & div.bg_parent {
      @apply absolute w-full h-full backdrop-blur-[2px] z-0;
    }

    & div.child {
      @apply flex flex-col gap-2 p-4 bg-white rounded-md min-w-[350px] w-max md:max-w-[400px] relative z-10 shadow-md;

      & div:nth-child(1) {
        @apply flex justify-between items-center gap-2 after:block after:w-[30px];

        & img {
          @apply w-[30px] h-[30px] object-cover;
        }

        & h2 {
          @apply font-medium text-lg text-primary;
        }
      }

      & div:nth-child(2) {
        @apply block w-full h-[2px] rounded-md bg-primary/20;
      }

      & h2 {
        @apply font-normal w-full text-primary/90 my-1;
      }

      & div:nth-child(4) {
        @apply flex justify-end items-center gap-2;

        & button:nth-child(1) {
          @apply p-2 font-semibold bg-danger text-white hover:bg-white hover:text-danger border-2 border-danger hover:border-transparent shadow-inner rounded-md transition-all ease-in-out duration-200;
        }

        & button:nth-child(2) {
          @apply p-2 font-semibold bg-white border-2 border-transparent text-info hover:text-white hover:bg-info hover:border-info shadow-md rounded-md transition-all ease-in-out duration-200;
        }

        & button:nth-child(2) {
          & img.loading {
            @apply w-[25px] h-[25px] animate-spin transition-all duration-200 ease-in-out;
          }
        }

        & button:nth-child(2) {
          & img.loading:nth-child(1) {
            @apply absolute opacity-0;
          }
          & img.loading:nth-child(2) {
            @apply relative opacity-100;
          }
        }

        & button:nth-child(2):hover {
          & img.loading:nth-child(1) {
            @apply relative opacity-100;
          }
          & img.loading:nth-child(2) {
            @apply absolute opacity-0;
          }
        }
      }
    }
  }
}
/* End Message Confirmation */

/* Notification Message */
& dialog.notification_message {
  @apply relative bg-transparent w-max z-20 outline-none;

  & div.parent {
    @apply w-full flex flex-col justify-center items-end p-2;

    & div.child {
      @apply bg-white rounded-md min-w-[300px] max-w-[350px] drop-shadow-md shadow-md;

      & div.last_child {
        @apply flex justify-between items-center p-2 gap-2;

        & img {
          @apply w-[40px] h-[40px] object-cover;
        }

        & h2 {
          @apply text-base text-start text-primary font-medium w-full h-max;

          & ul {
            @apply list-disc pl-4;

            & li {
              @apply text-danger;
            }
          }
        }

        & button {
          @apply p-2 bg-white hover:bg-black/5 active:bg-black/10 rounded-md;

          & img {
            @apply w-[25px] h-[25px] object-cover;
          }
        }
      }
    }
  }
}
/* End Notification Message */

/* Table List Goods on Restock Create and Edit */
tbody.goods_list_restock {
  & tr:nth-child(odd) {
    & td {
      @apply bg-white;
    }
  }

  & tr:nth-child(even) {
    & td {
      @apply bg-dark;
    }
  }

  & tr {
    & td {
      @apply p-2 text-primary font-medium text-center;
    }

    & td:nth-child(2) {
      @apply text-start w-auto lg:max-w-[300px] block lg:table-cell;
    }

    & td:nth-child(3) {
      @apply inline-block w-[33.3%] lg:w-auto lg:table-cell;
      & span:nth-child(1) {
        @apply inline-block whitespace-nowrap lg:hidden;
      }

      & span:nth-child(2) {
        @apply inline-block whitespace-nowrap;
      }
    }

    & td:nth-child(4) {
      @apply inline-block w-[33.3%] lg:w-auto lg:table-cell;
      & span:nth-child(1) {
        @apply inline-block whitespace-nowrap lg:hidden;
      }

      & span:nth-child(2) {
        @apply inline-block whitespace-nowrap;
      }
    }

    & td:nth-child(5) {
      @apply block md:table-cell;

      & button {
        @apply flex justify-center items-center p-2 w-max md:m-auto;

        & img {
          @apply h-[30px] w-[30px] object-cover;
        }

        & h2 {
          @apply block lg:hidden font-semibold;
        }
      }
    }
  }
}
/* End Table List Goods on Restock Create and Edit */

/* Mobile Navbar */
body.active {
  @apply overflow-hidden md:overflow-visible;
}

.labelButton {
  @apply block absolute z-10 top-2 right-2 lg:hidden h-[40px] w-[40px] p-1 rounded-md cursor-pointer;
}

.labelButton.nonActive {
  & img:nth-child(1) {
    @apply block;
  }

  & img:nth-child(2) {
    @apply hidden;
  }

  & img:nth-child(3) {
    @apply hidden;
  }
}

.labelButton.nonActive:hover {
  & img:nth-child(1) {
    @apply hidden;
  }

  & img:nth-child(2) {
    @apply block;
  }

  & img:nth-child(3) {
    @apply hidden;
  }
}

.labelButton.active {
  & img:nth-child(1) {
    @apply hidden;
  }

  & img:nth-child(2) {
    @apply hidden;
  }

  & img:nth-child(3) {
    @apply block;
  }
}

.labelButton.active:hover {
  & img:nth-child(1) {
    @apply block;
  }

  & img:nth-child(2) {
    @apply hidden;
  }

  & img:nth-child(3) {
    @apply hidden;
  }
}

.labelButton.nonActive:hover {
  & img:nth-child(1) {
    @apply hidden;
  }

  & img:nth-child(2) {
    @apply block;
  }

  & img:nth-child(3) {
    @apply hidden;
  }
}
/* End Mobile Navbar */

/* Cart Rerstock */
.restock_cart.active {
  @apply w-full md:w-[50%] lg:w-[30%] lg:max-w-[500px];
}

.restock_cart.nonActive {
  @apply w-[0%] md:w-[0%] lg:w-[30%] lg:max-w-[500px];
}

div.card_cart_restock {
  @apply flex flex-col justify-center items-start gap-2 w-full p-2 rounded-md;

  & div:nth-child(1) {
    @apply flex justify-start items-start gap-4 font-medium text-primary;
  }

  & div:nth-child(2) {
    @apply flex justify-between items-center w-full gap-2;

    & label {
      @apply flex justify-center items-center gap-2 w-max;

      & input {
        @apply p-2 w-[150px] outline-none rounded-md border-2 border-primary/10 focus:border-primary/50;
      }

      & button {
        @apply block p-2 font-semibold;

        & img {
          @apply w-[20px] h-[20px] object-cover;
        }
      }
    }

    & button {
      @apply block p-1;

      & img {
        @apply w-[30px] h-[30px] object-cover;
      }
    }
  }
}

div.card_cart_restock:nth-child(odd) {
  @apply bg-white border-2 border-dark;
}

div.card_cart_restock:nth-child(even) {
  @apply bg-dark border-2 border-white;
}
/* End Cart Rerstock */

/* Login Page */
label.password_view {
  @apply p-2 rounded-md absolute right-0 opacity-80 hover:opacity-100;

  & img {
    @apply w-[30px] h-[30px] object-cover;
  }

  & img.active {
    @apply block;
  }

  & img.nonActive {
    @apply hidden;
  }
}
/* Login Page */

img.loading {
  @apply w-[30px] h-[30px] block animate-spin;
}

/* Goods Tabel */
tbody.goods_page_list {
  & tr {
    & td {
      @apply p-2 text-black font-medium text-center;

      & div {
        @apply flex justify-start lg:justify-center items-center gap-2;

        & span:nth-child(1) {
          @apply block whitespace-nowrap lg:hidden;
        }

        & span:nth-child(2) {
          @apply block whitespace-nowrap;
        }
      }
    }

    & td:nth-child(1) {
      @apply min-w-[50px];
    }

    & td:nth-child(2) {
      @apply block md:table-cell w-full md:w-[150px];

      & div {
        @apply flex justify-start md:justify-center items-center gap-2;
      }
    }

    & td:nth-child(3) {
      @apply text-start block md:table-cell md:max-w-[200px];
    }

    & td:nth-child(n + 4) {
      @apply block lg:table-cell;
    }

    & td:nth-last-child(1) {
      @apply block md:table-cell;

      & div {
        @apply flex justify-center items-center w-full;

        & a {
          @apply flex justify-center items-center gap-2 p-2 w-full md:w-max;

          & img {
            @apply h-[30px] w-[30px] object-cover;
          }

          & h2 {
            @apply block md:hidden font-semibold;
          }
        }
      }
    }
  }

  & tr:nth-child(odd) > td {
    @apply bg-white border-dark;
  }

  & tr:nth-child(even) > td {
    @apply bg-dark border-white;
  }
}
/* End Goods Tabel */

/* History Tabel */
tbody.tabel_history_list {
  & tr {
    & td {
      @apply p-2 text-center;
    }

    & td:nth-child(1) {
      @apply min-w-[50px];
    }

    & td:nth-child(2) {
      @apply text-start lg:text-center block md:table-cell max-w-full md:max-w-[120px];
    }

    & td:nth-child(3) {
      @apply block md:table-cell max-w-full md:max-w-[200px] text-start;
    }

    & td:nth-child(4) {
      @apply block lg:table-cell;

      & div {
        @apply flex justify-start md:justify-center items-center w-full;

        & span {
          @apply rounded-md font-semibold text-center;
        }

        & span.danger {
          @apply text-danger;
        }

        & span.success {
          @apply text-success;
        }
      }
    }

    & td:nth-child(5) {
      @apply text-start md:text-center block lg:table-cell p-2;

      & div {
        @apply flex justify-start md:justify-center items-center gap-1;

        & span:nth-child(1) {
          @apply block lg:hidden;
        }

        & span:nth-child(2) {
          @apply block;
        }
      }
    }

    & td:nth-child(6) {
      @apply text-start md:text-center block lg:table-cell p-2;

      & div {
        @apply flex justify-start md:justify-center items-center gap-1;

        & span:nth-child(1) {
          @apply block lg:hidden;
        }

        & span:nth-child(2) {
          @apply block;
        }
      }
    }

    & td:nth-child(7) {
      @apply block md:table-cell p-2;

      & div {
        @apply flex justify-center items-center w-full;

        & button {
          @apply p-2 flex justify-center items-center gap-2 w-full md:w-max;

          & img {
            @apply w-[30px] h-[30px] object-cover;
          }

          & h2 {
            @apply font-semibold block md:hidden;
          }
        }

        & a {
          @apply p-2 flex justify-center items-center gap-2 w-full md:w-max;

          & img {
            @apply w-[30px] h-[30px] object-cover;
          }

          & h2 {
            @apply font-semibold block md:hidden;
          }
        }
      }
    }
  }

  & tr:nth-child(odd) > td {
    @apply bg-white border-dark;
  }

  & tr:nth-child(even) > td {
    @apply bg-dark border-white;
  }
}
/* End Goods Tabel */

/* Trash Restock */
tbody.trash_list {
  & tr {
    & td {
      @apply text-black font-medium text-center p-2;
    }

    & td:nth-child(1) {
      @apply max-w-[60px]
    }

    & td:nth-child(2) {
      @apply block text-start md:text-center md:table-cell md:max-w-[200px];
    }

    & td:nth-child(3) {
      @apply block text-start md:text-center md:table-cell;
    }

    & td:nth-child(4) {
      @apply block text-start md:text-center md:table-cell;
    }

    & td:nth-child(5) {
      @apply block text-start md:text-center md:table-cell;
    }
    
    & td:nth-child(6) {
      & div {
        @apply flex flex-col md:flex-row justify-center items-center gap-2;

        & button {
          @apply p-2 flex justify-center items-center gap-1;

          & img {
            @apply w-[30px] h-[30px] object-cover;
          }
        }
      }
    }
  }

  & tr:nth-child(odd) > td {
    @apply bg-white border-dark;
  }

  & tr:nth-child(even) > td {
    @apply bg-dark border-white;
  }
}
/* End Trash Restock */

/* Open Tab */
button.tabActive {
  @apply bg-primary border-primary text-secondary;
}

div.tabActive {
  @apply block;
}

div.tabNotActive {
  @apply hidden;
}
/* End Open Tab */

/* Button Copy */
button.copy {
  @apply block border-2 border-primary/10 bg-white rounded-md duration-200 ease-in-out transition-all p-2;

  & img {
    @apply w-[20px] h-[20px] object-cover;
  }
}

button.copy:hover {
  @apply border-primary/50;
}

button.copy:active {
  @apply border-primary;
}
/* End Button Copy */
